@media screen and (max-width:1020px) {
    .dials{
        display: none;
    }

    .intro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .intro-left, .intro-right{
        width: 90%;
        border-bottom: 1px solid black;
        padding: 30px 10px;
    }

    .side-nav{
        transition: 0.5s;
    }


    .work{
        display: none;
    }

    .work-next{
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        display: grid;
    }
    .card-next{
        width: 80vw;
    }

    .switch{
        display: none;
    }

    .contact{
    padding: 100px 50px;
    }

.info-btns{
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
    .info-btns button:nth-child(2) {
        margin: 10px 0px;
    }

    .touch-btn{
        right: 100px;
        top: 280px;
    }

}











@media screen and (max-width:768px) {

.hero h3, .hero p{

    font-size: 5vw;

}


.hero p{
    width: 99%;
    text-align: center;
}

.hero h1{
    font-size: 20vw;
    
}

.about-btn{
    bottom: -100px;
    right: -50px;
}
.hero-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
}
.hire-btn, .work-btn{
    transform: scale(0.9);
    width: 15rem;
}

}





@media screen and (max-width:550px){
    .footer{
        justify-content: center;
        flex-direction: column;
    }

    .touch-btn{
        right: 90px;
        top: 370px;
    }
    .work-divider{
        margin: 100px 0px;
    }

    .intro{
        padding: 40px;
    }
    .about-btn{
    bottom: -120px;
    right: 20px;
}

.hero h3,
.hero p {

    font-size: 8vw;

}

.hero h1 {
    font-size: 25vw;

}

.hero-content{
    margin-top: 60px;
}
.logo-img{
    width: 5rem;
    height: auto;
}
}


@media screen and (max-width:400px) {
    .lets span{
        font-size: 1.4rem;
        line-height: 60px;
    }
    .touch-btn{
        right: 90px;
        top: 300px;
    }
    .contact span h1:nth-child(2){
    margin: 0px 0px 0px 10px;
    }

    .intro-left{
        font-size: 1.3rem;
    }

    .side-nav{
        right: -500%;
        width: 100vw;
        overflow-y: scroll;
    }
    .contact{
        padding: 100px 30px;
    }
}


@media screen and (max-width:1400px) {
    .contain{
        display: none;
    }
}